{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 80,
	"proseWrap": "never",
	"plugins": ["prettier-plugin-svelte"],
	"svelteIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
